.joa-chatbot-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    fill: #eee;
    z-index: 999;
    transition-timing-function: ease-out;
    transition-duration: .15s;
    transform: translateY(0);
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.15);
}
.joa-chatbot-bubble:hover {
    transition-timing-function: ease-in;
    transition-duration: .15s;
    transform: translateY(-7px);
}