<<<<<<< HEAD
#map { background: #444; color: #eee; height: 100vh; }
=======
#map {
    background: transparent;
    color: #eee;
    height: 100vh;
}
>>>>>>> b7b5fd2ab802298305d37ce61e88e5f619be60af

div.tooltip {
    position: absolute;
    text-align: center;
    color: white;
    width: 275px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: grey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: 16px;
}
