@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

*{
    font-family: 'Quicksand', sans-serif;
}
/* utilities */
.strong{
    font-weight:bold;
}

.bg_pres {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    background: url('/img/presentation.jpeg') no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
.bg_search {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    background: url('/img/search.jpg') no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

@media screen and (max-device-width:480px)  {
    .bg_pres {
        background: #212529;
    }
}



@media screen and (min-width: 1212px) and (max-width : 99999px){
	.padding-150 {
    		padding-top: 0px;
    		padding-bottom: 100px;
	}
}

@media screen and (min-width: 30px) and (max-width : 990px){
	.padding-150 {
    	padding-top: 150px;
    	padding-bottom: 100px;
	}
}

@media screen and (min-width: 990px) and (max-width : 1212px){
	.padding-150 {
    	padding-top: 50px;
    	padding-bottom: 100px;
	}
}


.bg-dark {
    background: #212529;
}

.bg-cloud {
    background: rgb(236, 240, 241);
}

.bg-blue{
    background-color:#225378;
    color: white;
}

.blue {
    color: #0080ff ;
}

.bg-purple{
    color: white;
    background-color:rgba(20,0,72,0.8);
}

.text-cloud {
    color: rgba(196, 193, 229, 0.99);
}
.text-presentation {
    color: rgb(215, 221, 255);
}

.text-dark {
    color: #212529;
}

.h-100 {
    height: 100px;
}

.h-250 {
    height: 250px;
}
.h-500 {
    height: 500px;
}

.paddingZero {
    padding: 0;
}

.padding-10 {
    padding: 10px;
}

.padding-right-100{
    padding-right: 300px;
}

.font-40 {
    font-size: 40px;
}

.font-30 {
    font-size: 30px;
}
.font-25 {
    font-size: 25px;
}
.font-20 {
    font-size: 20px;
}

.font-60 {
    font-size: 60px;
}
.font-70 {
    font-size: 5vw;
}
.font-80 {
    font-size: 80px;
}

/* navbar */
#navbar {
    background: #f5f5f5;
    min-height: 10vh;
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    border-bottom: 1px solid #333;
}

#navbar a, #navbar button{
    font-weight: 700;
}
#navbar a:hover{
    cursor: pointer;
}

.bg-clear {
    background: transparent;
}

.bg {
    background: url('/website/src/style/img/bg-mountain-clouds.jpg')no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}



.bg-fixed {
    background-attachment: fixed;
}

@media (min-width: 992px) {
    .navbar-brand.abs
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin:0 auto;
    }
}

.fas {
    font-family: fontawesome;
    font-style: normal;
}

/* Day/Night Button */
.toggle-mode{
    float:left;
    padding:2px 20px 0 10px;
    width:100%;
}

.toggle-mode .icon{
    width:25px;
    float:left;
    font-size:1.5rem;
    color:white;
}

.toggle-switch{
    float:left;
    height:40px;
    width:60px;
    padding:5px 7px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch{
    position:relative;
    display:inline-block;
    width:47px;
    height:19px;
}

.switch input{
    display:none;
}

.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:3px;
    right:-3px;
    bottom:0;
    background-color:darkgray;
    border:1px solid darkgray;
}

.slider:before{
    background-color: black;
    position:absolute;
    content:"";
    height:15px;
    width:15px;
    left:2px;
    bottom:1px;
}

    input:focus+.slider{
    box-shadow:0 0 1px #2196F3;
}

input:checked+.slider:before{
    -webkit-transform:translateX(26px);
    transform:translateX(26px);
}

.slider.round{
    border-radius:34px;
}

.slider.round:before{
    border-radius:50%;
}

/* Carousel */
.carousel-caption {
    bottom: 150px;
}
.text-cloud{
    color: black;
}
.bg-dark .text-cloud{
    color:rgb(236, 240, 241);
}
.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}
.bg-dark .carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-control-prev-icon{
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}
.bg-dark .carousel-control-prev-icon{
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}
