#mapFocusComponent {   
   .focusRegion img {
        width: 20%;
        opacity: #FF0000;
    }

    .opacity img {
        background-color: rgba(255,255,255,.6);
        backdrop-filter: blur(5px)
    }
}